.carousel-smaller
{
    width: 65%;
    margin: auto;
}
.fs-25
{
    font-size: 25px;
}
.fs-20
{
    font-size: 20px;
}
.fs-50
{
    font-size: 50px!important;
}

.slick-slide
{
    margin: 10px;
}

.slick-slide img
{
    width: 100%;
    border: 2px solid #fff;
}

.slick-prev, .slick-next
{
    background: red;
}