{% extends "generic.html"%}
{% block title %}Tochino cines - El guasón{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <h2 class="text-align-center">
       Detalle de pelicula
    </h2>
</div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 shadow bg-white rounded">
        <h3 class="ml-5 page-header text-primary">
            {{p.nombre}}
        </h3>
        <div class="row">
            <div class="col-md-5">
                <img src="https://www.bases123.com.ar/posters/9385_poster2.jpg" alt="imagen" width="400"
                 class="img-responsive center-block">
            </div>
            <div class="col-md-7 shadow rounded justify-content-left ">
                <div class="row mx-5 mt-5 h4"><p><strong>Genero: </strong>{{p.generos}}</p></div>
                <div class="row mx-5 h4"><p><strong>Actores: </strong>{{p.actores}}</p></div>
                <div class="row mx-5 h4"><p><strong>Directores: </strong>{{p.directores}} </p></div>
                <div class="row mx-5 h4"><p><strong>Duración: </strong>{{p.duracion}}</p></div>
                <div class="row mx-5 h4"><p><strong>Calificacion: </strong>{{p.clasificacion}}</p></div>
                <div class="row mx-5 h4"><p><strong>Sinopsis: </strong>{{p.sinopsis}}</p></div>
            </div>
        </div>
        <div class="row my-5">
            <div class="col-md-12 align-content-center">
                <iframe width="560"
                    height="315"
                    src="https://www.youtube.com/embed/y0Y_jrHWpC4"
                    frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen
                    class="center-block"></iframe>
            </div>
        </div>
        <div class="row my-5">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <form method="POST">
                    <button type="submit" class="btn btn-primary btn-lg" href="/elegir/">
                        Proceder a ver dias y horarios
                    </button>
                </form>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>

{% endblock %}