{% extends "generic.html"%}
{% block title %}Tochino cines - Eligiendo dia{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-2"></div>
    <div align="center" class="col-md-8 border rounded px-5">
        <h2>Horarios para: El guason</h2>
        <div class="dropdown my-5">
            <button class="btn btn-primary dropdown-toggle btn-lg btn-lgg" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                Elegir dia
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" x-placement="bottom-start"
                 style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
                <form method="POST">
                    {% for dia in dias%}
                    <button class="dropdown-item" type="submit" name="{{dia[0]}}">{{dia[1]}}</button>
                    {% endfor %}
                </form>
            </div>
        </div>
        {% if not horarios == "": %}
        <!-- Horarios -->
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="panel panel-primary h3">
                    <div class="panel-heading">Horarios para: {{diaelegido.day + '-' + diaelegido.month + '-' + diaelegido.year}}</div>
                    <div class="panel-body">
                        {% for i in range(4) %}
                        <div class="row">
                            {% for i in range(4) %}
                            <div class="col-lg-3 my-3">
                                <a class="btn btn-secondary btn-lg" href="/elegir-horario/1">
                                    {{dia}}hs
                                </a>
                            </div>
                            {% endfor %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
        {% endif %}
        {% if not sala == "": %}
        <!--   sala     -->
        <div class="row">
            <div class="col-md-12">
                <style>
                    .silla{
                        margin: 1px;
                        display: block;
                        width: 35px;
                        height: 30px;
                        color: #dff9fb;
                    }
                    .silla-libre{
                        background-color: #30336b;
                    }
                    .silla-ocupada{
                        background-color: #ff7979;
                    }
                    .pasillo
                    {
                        visibility: hidden;
                    }
                    .elegida
                    {
                        background-color: #f9ca24;
                    }
                    .info
                    {

                    }
                </style>
                <div class="panel panel-primary h3">
                    <div class="panel-heading">Sala para el guason, {{dia}}, {{horario}}</div>
                    <div class="panel-body">
                        <div class="sala d-block">
                            <table>
                                {% for fila in sala.sillas %}
                                <tr>
                                    {% for silla in fila %}
                                        {% if silla.estado == 'ocupada' %}
                                            <td><a class="btn silla-ocupada silla">{{silla.fila}}{{silla.columna}}</a></td>
                                        {% elif silla.estado == 'libre' %}
                                            <td><a  href="/salaclick/{{silla.fila}}/{{silla.columna}}" class="btn silla-libre silla">{{silla.fila}}{{silla.columna}}</a></td>
                                        {% elif silla.estado == 'pasillo' %}
                                            <td><a href="" class="btn pasillo silla">{{silla.fila}}{{silla.columna}}</a></td>
                                        {% elif silla.estado == 'elegida' %}
                                            <td><a href="" class="btn elegida silla">{{silla.fila}}{{silla.columna}}</a></td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                                {% endfor %}
                            </table>
                            <!-- Info -->
                            <p class="h1 pt-5">Referencias</p>
                            <div class="row info pt-1">
                                <div class="col-md-3"></div>
                                <div class="col-md-2">
                                    <p class="h4">Reservada:</p>
                                    <a href="" class="btn silla-ocupada silla"></a>
                                </div>
                                <div class="col-md-2">
                                    <p class="h4">Libre:</p>
                                    <a href="" class="btn silla-libre silla"></a>
                                </div>
                                <div class="col-md-2">
                                    <p class="h4">Elegida:</p>
                                    <a href="" class="btn elegida silla"></a>
                                </div>
                                <div class="col-md-3"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <a href="/terminar-compra/" class="btn btn-lg btn-primary py-5">
                    Terminar de comprar
                </a>
            </div>
            <div class="col-md-4"></div>
        </div>
    <div/>
    <div class="col-md-2"></div>

    </div>
</div>
{% endblock %}