{% extends "generic.html"%}
{% block title %}Tochino cines - Inicio{% endblock %}

{% block content %}
<!-- Carousel -->
<div id="carousel" class="carousel slide carousel-smaller" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carousel" data-slide-to="0" class="active"></li>
    <li data-target="#carousel" data-slide-to="1"></li>
    <li data-target="#carousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="https://s1.1zoom.me/b5050/328/Maleficent_(film)_Angelina_Jolie_518024_1920x1080.jpg"
           alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100"
           src="https://arc-anglerfish-arc2-prod-infobae.s3.amazonaws.com/public/JTY76P5GYVGGFEITZT5NILNCH4.jpg"
           alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100"
           src="https://s2.dmcdn.net/v/Qf_sp1TEQncRGERhT/x1080"
           alt="Third slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<!-- Listo carousel -->

{% endblock %}