{% extends "generic.html"%}
{% block title %}Tochino cines - Peliculas{% endblock %}

{% block content %}
{% for gp in gcp%}
<div>
    <h2 class="text-center">
        {{gp[0]}}
    </h2>
</div>
<div class="carousel">
    {% for p in gp[1]%}
    <div>
        <a href="/pelicula/{{p.idpelicula}}">
            <img src="{{p.rutaimagen}}">
        </a>
    </div>
    {% endfor %}
</div>
<br />
{% endfor %}

{% endblock %}