{% extends "generic.html"%}
{% block title %}Tochino cines - Perfil{% endblock %}

{% block content %}
<div class="row ">
    <div class="col-md-2"></div>
    <div class="col-md-8 shadow bg-white rounded">
        <h2 class="ml-5 page-header">
            <strong>Perfil<strong>
        </h2>
        <div class="row">
            <h3 class="ml-5 text-primary">Completa tu perfil</h3>
            <div class="row justify-content-left">
            <div class="col-md-6" style="padding-top:5em;">
                <div class="row mx-5 h4"><strong>Nombre </strong><span class="px-5"><input type="text" > </span></div>
                <div class="row mx-5 h4"><strong>Apellido </strong><span class="px-5"> <input type="text" > </span></div>
                <div class="row mx-5 h4"><strong>Cumpleaños </strong><span class="px-5"> <input type="date" > </span></div>
                <div class="row mx-5 h4"><strong>Teléfono </strong><span class="px-5"> <input type="number" > </span></div>
                <div class="row mx-5 h4"><strong>Dirección </strong><span class="px-5"> <input type="text" > </span></div>
            </div>
            </div>
            <div class="row">
            <div class="col-md-6 shadow rounded justify-content-right ">


            </div>
        </div>
    </div>
    </div>
</div>
{% endblock %}
